In [1]:
# fuction

In [2]:
print("This is my print Function")   #  type of the fuction

This is my print Function

In [3]:
l = [1,2,3,4,5]

In [4]:
len(l)             #  type of the fuction

5

In [5]:
type(l)       #  type of the fuction

list

In [7]:
def  test2():
    pass

In [ ]:
def test1():
    print('this is my very very first fuction')

In [ ]:
test1()

this is my very very first fuction

In [ ]:
test1()+'sudha'

this is my very very first fuction

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [ ]:
def test2():
    return 'this is my  very first return '

In [ ]:
test2()

'this is my  very first return '

In [ ]:
test2()+ 'sudh'

'this is my  very first return sudh'

In [ ]:
def test3():
    return 'suha',23,344,[2,34,5,5,6,77]

In [ ]:
test3()

('suha', 23, 344, [2, 34, 5, 5, 6, 77])

In [ ]:
a,b,c,d= test3()

In [ ]:
a

'suha'

In [ ]:
b

23

In [ ]:
c

344

In [ ]:
d

[2, 34, 5, 5, 6, 77]

In [ ]:
def test4():
    a = 5+6/7
    return a

In [ ]:
test4()

5.857142857142857

In [ ]:
def test5(a,b,c):
    d = a+b/c
    return d

In [ ]:
test5(1,9,3)

4.0

In [ ]:
def test6(a,b):
    return a+b

In [ ]:
test6(2,3)

5

In [ ]:
test6('suha',' kumar')

'suha kumar'

In [ ]:
test6([1,2,34,54],[1,22,3,2])

[1, 2, 34, 54, 1, 22, 3, 2]

In [ ]:
l = [1,2,3,4,"suha",'kumar',[1,2,33,4,5]]

In [ ]:
l1 =[]
for i in l:
    if type(i)==int or type(i)==float:
        l1.append(i)

In [ ]:
l1

[1, 2, 3, 4]

In [ ]:
def test7(l):
    l1 =[]
    for i in l:
        if type(i)==int or type(i)==float:
            l1.append(i)
    return l1

In [ ]:
test7(l)

[1, 2, 3, 4]

In [ ]:
test7([1,"sudj",094.3,"sjeif",[2,4,6,3,7]])

[1, 94.3]

In [ ]:
def test8(a):
    l = []
    for i in a: 
        if type(i)==list:
            for j in i:
                l.append(j)
        else:
            if type(i)==int or type(i)==float:
                l.append(i)
    return(l)

In [ ]:
l

[1, 2, 3, 4, 'suha', 'kumar', [1, 2, 33, 4, 5]]

In [ ]:
test8(l)

[1, 2, 3, 4, 1, 2, 33, 4, 5]

In [ ]:
def test9(a):
    '''this is my funtion to abstract numberic data from list '''
    l = []
    for i in a: 
        if type(i)==list:
            for j in i:
                l.append(j)
        else:
            if type(i)==int or type(i)==float:
                l.append(i)
    return(l)

In [ ]:
# test9() # this will expleain why fction is used commemnt to show details

In [ ]:
def test10(a,b):
    return a+b

In [ ]:
def test11(*args):
    return args

In [ ]:
type(test11())

tuple

In [ ]:
test11(1,2,3)

(1, 2, 3)

In [ ]:
test11(1,2,3,4,5,6,[1,2,2,3,],7,8,9,10,"arua")

(1, 2, 3, 4, 5, 6, [1, 2, 2, 3], 7, 8, 9, 10, 'arua')

In [ ]:
def test12(*sudha):
    return sudha

In [ ]:
test12("aruan","srjoejf")

('aruan', 'srjoejf')

In [ ]:
def test13(*args , a):
    return args , a

In [ ]:
test13(1,2,3,4 ,a =99)

((1, 2, 3, 4), 99)

In [ ]:
def test14(c,d,a = 12, b = 123,):
    return a,b,c,d

In [ ]:
test14(1,2)

(12, 123, 1, 2)

In [ ]:
test14(1,2,3,4)

(3, 4, 1, 2)

In [ ]:
def test15(**kwargs):
    return kwargs

In [ ]:
test15( )

{}

In [ ]:
type(test15())

dict

In [ ]:
test15(a = [1,3,4,5],b= (2,4,4,5),c={1:3,3:6})

{'a': [1, 3, 4, 5], 'b': (2, 4, 4, 5), 'c': {1: 3, 3: 6}}

In [ ]:
# 3 feb lecture and assignment are attached to the file