In [55]:
# for loop

In [56]:
l = [1,2,3,4,5,6]

In [57]:
for i in l:
    print(i)

1
2
3
4
5
6

In [58]:
for i in l:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>

In [59]:
l1 = ['sudha','kumar','krish','naik']

In [60]:
for i in l1:
    print(i.title())

Sudha
Kumar
Krish
Naik

In [61]:
for i in l1:
    print(i)
else:
    print("if for loop able to  complete iteself then only else will execute")

sudha
kumar
krish
naik
if for loop able to  complete iteself then only else will execute

In [62]:
for i in l1:
    if i =="kumar":
        break
    print(i)
else:
    print('execute this if for loop is able to complete itself')

sudha

In [63]:
for i in l1:
    if i =="kumar":
        continue
        
    print(i)
else:
    print('execute this if for loop is able to complete itself')

sudha
krish
naik
execute this if for loop is able to complete itself

In [64]:
range(0,5)

range(0, 5)

In [65]:
list(range(5))

[0, 1, 2, 3, 4]

In [66]:
list(range(0, 5,1 ))

[0, 1, 2, 3, 4]

In [67]:
list(range(0,5,2))

[0, 2, 4]

In [68]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [69]:
l1

['sudha', 'kumar', 'krish', 'naik']

In [70]:
len(l1)

4

In [71]:
list(range(len(l1)))

[0, 1, 2, 3]

In [72]:
for i in range(len(l1)):
    print(l1[i])

sudha
kumar
krish
naik

In [73]:
list(range(len(l1)-1,-1,-1))

[3, 2, 1, 0]

In [74]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

naik
krish
kumar
sudha

In [75]:
l2 = [11,2,343,54,6,657,886,44,1,843,12,5,653,3]

In [76]:
list(range(0,len(l2),2))

[0, 2, 4, 6, 8, 10, 12]

In [77]:
for i in range(0,len(l2),2):
    print(l2[i])

11
343
6
886
1
12
653

In [78]:
l = [1,2,4,11,2]

In [82]:
result = 0
for i in l:
    result = result + i 
result

20

In [84]:
t = (1,2,3,4,5,6)

In [87]:
result =0
for i in t:
    result = result +i 
result

21

In [88]:
s1 = "pwskills"
for i in s1:
    print(i)

p
w
s
k
i
l
l
s

In [93]:
 d = {"name":"sudha","class":"data science masters","topic":["python","stats","machine langauage","dl","Nlp","resume","interview"] }

In [94]:
d

{'name': 'sudha',
 'class': 'data science masters',
 'topic': ['python',
  'stats',
  'machine langauage',
  'dl',
  'Nlp',
  'resume',
  'interview']}

In [95]:
d['name']

'sudha'

In [97]:
d.keys()

dict_keys(['name', 'class', 'topic'])

In [98]:
for i in d.keys():
    print(d[i])

sudha
data science masters
['python', 'stats', 'machine langauage', 'dl', 'Nlp', 'resume', 'interview']

In [99]:
d.values()

dict_values(['sudha', 'data science masters', ['python', 'stats', 'machine langauage', 'dl', 'Nlp', 'resume', 'interview']])

In [101]:
for i in d.values():
    print(i)

sudha
data science masters
['python', 'stats', 'machine langauage', 'dl', 'Nlp', 'resume', 'interview']

In [102]:
d.items()

dict_items([('name', 'sudha'), ('class', 'data science masters'), ('topic', ['python', 'stats', 'machine langauage', 'dl', 'Nlp', 'resume', 'interview'])])

In [104]:
for i in d.items():
    print(i)

('name', 'sudha')
('class', 'data science masters')
('topic', ['python', 'stats', 'machine langauage', 'dl', 'Nlp', 'resume', 'interview'])