In [12]:
#31 jan   lecture

In [13]:
l= [1,34,54,"sudha", True, False,23.34,7+5j]

In [14]:
l

[1, 34, 54, 'sudha', True, False, 23.34, (7+5j)]

In [15]:
print(type(l))

<class 'list'>

In [16]:
l[0]

1

In [17]:
l[0:4]

[1, 34, 54, 'sudha']

In [18]:
# l[90]   IndexError: list index out of range

In [19]:
l[0:90]

[1, 34, 54, 'sudha', True, False, 23.34, (7+5j)]

In [20]:
l[-1]

(7+5j)

In [21]:
l[3:1:1]

[]

In [22]:
l[::-1]

[(7+5j), 23.34, False, True, 'sudha', 54, 34, 1]

In [23]:
l[8::-1]

[(7+5j), 23.34, False, True, 'sudha', 54, 34, 1]

In [24]:
s = "pwsskills"

In [25]:
# l+s give error

In [26]:
list(s)

['p', 'w', 's', 's', 'k', 'i', 'l', 'l', 's']

In [27]:
list(s)+l

['p',
 'w',
 's',
 's',
 'k',
 'i',
 'l',
 'l',
 's',
 1,
 34,
 54,
 'sudha',
 True,
 False,
 23.34,
 (7+5j)]

In [28]:
# append fuctions

In [29]:
l[3]

'sudha'

In [30]:
l[3][0:2]

'su'

In [31]:
l[4]

True

In [32]:
# l[4][0:2]  
# TypeError: 'bool' object is not subscriptable

In [33]:
str(l[4])[0:2]

'Tr'

In [34]:
l

[1, 34, 54, 'sudha', True, False, 23.34, (7+5j)]

In [35]:
# l+s
# TypeError: can only concatenate list (not "str") to list

In [36]:
l1 = [3,4,5]

In [37]:
l+l1

[1, 34, 54, 'sudha', True, False, 23.34, (7+5j), 3, 4, 5]

In [38]:
l1*3

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [39]:
len(l)

8

In [40]:
l.append(5)

In [41]:
l

[1, 34, 54, 'sudha', True, False, 23.34, (7+5j), 5]

In [42]:
l.append(s)

In [43]:
l

[1, 34, 54, 'sudha', True, False, 23.34, (7+5j), 5, 'pwsskills']

In [44]:
l.append(l1)

In [45]:
l

[1, 34, 54, 'sudha', True, False, 23.34, (7+5j), 5, 'pwsskills', [3, 4, 5]]

In [46]:
l[-1]

[3, 4, 5]

In [47]:
l[-1][1]

4

In [48]:
# l.extend(4)
# TypeError: 'int' object is not iterable

In [49]:
l.extend("sudha")

In [50]:
l

[1,
 34,
 54,
 'sudha',
 True,
 False,
 23.34,
 (7+5j),
 5,
 'pwsskills',
 [3, 4, 5],
 's',
 'u',
 'd',
 'h',
 'a']

In [51]:
# extend is used to add list on the existing list

In [52]:
l.extend([3,4,45,6])

In [53]:
l

[1,
 34,
 54,
 'sudha',
 True,
 False,
 23.34,
 (7+5j),
 5,
 'pwsskills',
 [3, 4, 5],
 's',
 'u',
 'd',
 'h',
 'a',
 3,
 4,
 45,
 6]

In [54]:
l1

[3, 4, 5]

In [55]:
# insert is used to insert data at specific positions in the list

In [56]:
l1.insert(2,99)

In [57]:
l1

[3, 4, 99, 5]

In [58]:
l1.insert(2,[2,5,8,9])

In [59]:
l1

[3, 4, [2, 5, 8, 9], 99, 5]

In [60]:
l1

[3, 4, [2, 5, 8, 9], 99, 5]

In [61]:
l1.insert(1,"Murari")

In [62]:
l1

[3, 'Murari', 4, [2, 5, 8, 9], 99, 5]

In [63]:
l1.insert(-1,0)

In [64]:
l1

[3, 'Murari', 4, [2, 5, 8, 9], 99, 0, 5]

In [65]:
l1.pop() # remove last element

5

In [66]:
l1

[3, 'Murari', 4, [2, 5, 8, 9], 99, 0]

In [67]:
l1.pop(1)

'Murari'

In [68]:
l1 # murari removed from the list

[3, 4, [2, 5, 8, 9], 99, 0]

In [69]:
l1.remove(0) # remove zero

In [70]:
l1.remove(0) # remove zero elements

ValueError: list.remove(x): x not in list

In [ ]:
l1

[3, 4, [2, 5, 8, 9], 99, 22]

In [ ]:
l1.remove(231)

ValueError: list.remove(x): x not in list

In [ ]:
# remove element inside list of list

In [ ]:
l1[2].remove(2) # removed the 2 second index on ````````a

In [ ]:
l1

[3, 4, [5, 8, 9], 99, 22]

In [ ]:
l1.insert(1,"sudh")

In [ ]:
l1

[3, 'sudh', 'sudh', 4, [5, 8, 9], 99, 22]

In [ ]:
l1.remove("sudh")

In [ ]:
l1

[3, 4, [5, 8, 9], 99, 22]

In [ ]:
l1[::-1] # temparary reverse

[3, 4, [5, 8, 9], 99, 22]

In [ ]:
rev = l1.reverse()  #permanent

In [ ]:
l1

[3, 4, [5, 8, 9], 99, 22]

In [ ]:
l1.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [ ]:
l2 = [1,3,4,6,2,4,8,8,542,222,4,45,61,2]

In [ ]:
l2.sort() #arange the nuber alphabetic order

In [ ]:
l2

[1, 2, 2, 3, 4, 4, 4, 6, 8, 8, 45, 61, 222, 542]

In [ ]:
l3 = [34,"sudha",939.3]

In [ ]:
l3.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
l4 = ["sudha","kumari","mururi","jha"]

In [ ]:
l4.sort()

In [ ]:
l4

['jha', 'kumari', 'mururi', 'sudha']

In [ ]:
l4.sort(reverse = True)

In [ ]:
l4

['sudha', 'mururi', 'kumari', 'jha']

In [ ]:
l2.sort(reverse = True)

In [ ]:
l2

[542, 222, 61, 45, 8, 8, 6, 4, 4, 4, 3, 2, 2, 1]

In [ ]:
l4.index("sudha")

0

In [ ]:
l4.count("sudha")

1

In [ ]:
s = "sudha"

In [ ]:
l5 = [3,5,355,5]

In [ ]:
s[0]

's'

In [ ]:
s[0]="A"

TypeError: 'str' object does not support item assignment

In [ ]:
l5[0]= 30

In [ ]:
l5

[30, 5, 355, 5]

In [ ]:
s.replace("a","A")

'sudhA'

In [ ]:
s

'sudha'

In [ ]:
# tuple

In [ ]:
t = (2,3,4,5,6.4,8+3j,"sudha")

In [ ]:
t

(2, 3, 4, 5, 6.4, (8+3j), 'sudha')

In [ ]:
type(t)

tuple

In [ ]:
len(t)

7

In [ ]:
t[0]

2

In [ ]:
t[-1]

'sudha'

In [ ]:
t[::-1]

('sudha', (8+3j), 6.4, 5, 4, 3, 2)

In [72]:
l4 = [13.4,5,64,"sudha"]

In [73]:
l4[0]=3

In [74]:
l4

[3, 5, 64, 'sudha']

In [76]:
t

(2, 3, 4, 5, 6.4, (8+3j), 'sudha')

In [75]:
t[0]="sudha"

TypeError: 'tuple' object does not support item assignment

In [77]:
t[::-1]

('sudha', (8+3j), 6.4, 5, 4, 3, 2)

In [82]:
t.count(3)

1

In [83]:
t.index(False)

ValueError: tuple.index(x): x not in tuple

In [84]:
t.index(6.4)

4

In [85]:
# set

In [86]:
s1 ={}

In [87]:
type(s1)

dict

In [88]:
s2 = {2,34,4,5.3,"sudha"}

In [89]:
type(s2)

set

In [92]:
s3 ={23,44,44.3,"sudha",3+3j,(1,3,4)}

In [93]:
s3

{(1, 3, 4), (3+3j), 23, 44, 44.3, 'sudha'}

In [96]:
s4 ={123,5533,122,123,4,4,5,32,3,2,32,"True",1,0,False}

In [97]:
s4

{0, 1, 122, 123, 2, 3, 32, 4, 5, 5533, 'True'}

In [102]:
l6= [1,2,34,5,6,67,88,9,90,8,1,23,4,5,"SUHAA","suhaa"]

In [104]:
l6 = list(set(l6))

In [105]:
l6

[1, 2, 34, 67, 5, 6, 4, 8, 9, 'suhaa', 'SUHAA', 23, 88, 90]

In [106]:
l6 = set(l6)

In [107]:
l6

{1, 2, 23, 34, 4, 5, 6, 67, 8, 88, 9, 90, 'SUHAA', 'suhaa'}

In [109]:
 s5 = {12,2,23,567,322,"sudah"}

In [111]:
s5

{12, 2, 23, 322, 567, 'sudah'}

In [112]:
print("Tuple")

Tuple

In [114]:
s5.update([1,2,4,5])

In [115]:
s5

{1, 12, 2, 23, 322, 4, 5, 567, 'sudah'}

In [118]:
s5.add(145)

In [119]:
s5

{1, 12, 145, 2, 23, 322, 4, 5, 567, 'sudah'}

In [120]:
# completed