In [59]:
#31 jan   lecture

In [60]:
l= [1,34,54,"sudha", True, False,23.34,7+5j]

In [61]:
l

[1, 34, 54, 'sudha', True, False, 23.34, (7+5j)]

In [62]:
print(type(l))

<class 'list'>

In [63]:
l[0]

1

In [64]:
l[0:4]

[1, 34, 54, 'sudha']

In [65]:
# l[90]   IndexError: list index out of range

In [66]:
l[0:90]

[1, 34, 54, 'sudha', True, False, 23.34, (7+5j)]

In [67]:
l[-1]

(7+5j)

In [68]:
l[3:1:1]

[]

In [69]:
l[::-1]

[(7+5j), 23.34, False, True, 'sudha', 54, 34, 1]

In [70]:
l[8::-1]

[(7+5j), 23.34, False, True, 'sudha', 54, 34, 1]

In [71]:
s = "pwsskills"

In [72]:
# l+s give error

In [73]:
list(s)

['p', 'w', 's', 's', 'k', 'i', 'l', 'l', 's']

In [74]:
list(s)+l

['p',
 'w',
 's',
 's',
 'k',
 'i',
 'l',
 'l',
 's',
 1,
 34,
 54,
 'sudha',
 True,
 False,
 23.34,
 (7+5j)]

In [75]:
# append fuctions

In [76]:
l[3]

'sudha'

In [77]:
l[3][0:2]

'su'

In [78]:
l[4]

True

In [79]:
# l[4][0:2]  
# TypeError: 'bool' object is not subscriptable

In [80]:
str(l[4])[0:2]

'Tr'

In [81]:
l

[1, 34, 54, 'sudha', True, False, 23.34, (7+5j)]

In [82]:
# l+s
# TypeError: can only concatenate list (not "str") to list

In [110]:
l1 = [3,4,5]

In [111]:
l+l1

[1,
 34,
 54,
 'sudha',
 True,
 False,
 23.34,
 (7+5j),
 5,
 'pwsskills',
 [3, 4, [2, 5, 8, 9], 99, 22, 5],
 's',
 'u',
 'd',
 'h',
 'a',
 3,
 4,
 45,
 6,
 3,
 4,
 5]

In [112]:
l1*3

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [113]:
len(l)

20

In [114]:
l.append(5)

In [115]:
l

[1,
 34,
 54,
 'sudha',
 True,
 False,
 23.34,
 (7+5j),
 5,
 'pwsskills',
 [3, 4, [2, 5, 8, 9], 99, 22, 5],
 's',
 'u',
 'd',
 'h',
 'a',
 3,
 4,
 45,
 6,
 5]

In [116]:
l.append(s)

In [117]:
l

[1,
 34,
 54,
 'sudha',
 True,
 False,
 23.34,
 (7+5j),
 5,
 'pwsskills',
 [3, 4, [2, 5, 8, 9], 99, 22, 5],
 's',
 'u',
 'd',
 'h',
 'a',
 3,
 4,
 45,
 6,
 5,
 'pwsskills']

In [118]:
l.append(l1)

In [119]:
l

[1,
 34,
 54,
 'sudha',
 True,
 False,
 23.34,
 (7+5j),
 5,
 'pwsskills',
 [3, 4, [2, 5, 8, 9], 99, 22, 5],
 's',
 'u',
 'd',
 'h',
 'a',
 3,
 4,
 45,
 6,
 5,
 'pwsskills',
 [3, 4, 5]]

In [120]:
l[-1]

[3, 4, 5]

In [121]:
l[-1][1]

4

In [122]:
# l.extend(4)
# TypeError: 'int' object is not iterable

In [123]:
l.extend("sudha")

In [124]:
l

[1,
 34,
 54,
 'sudha',
 True,
 False,
 23.34,
 (7+5j),
 5,
 'pwsskills',
 [3, 4, [2, 5, 8, 9], 99, 22, 5],
 's',
 'u',
 'd',
 'h',
 'a',
 3,
 4,
 45,
 6,
 5,
 'pwsskills',
 [3, 4, 5],
 's',
 'u',
 'd',
 'h',
 'a']

In [125]:
# extend is used to add list on the existing list

In [126]:
l.extend([3,4,45,6])

In [127]:
l

[1,
 34,
 54,
 'sudha',
 True,
 False,
 23.34,
 (7+5j),
 5,
 'pwsskills',
 [3, 4, [2, 5, 8, 9], 99, 22, 5],
 's',
 'u',
 'd',
 'h',
 'a',
 3,
 4,
 45,
 6,
 5,
 'pwsskills',
 [3, 4, 5],
 's',
 'u',
 'd',
 'h',
 'a',
 3,
 4,
 45,
 6]

In [128]:
l1

[3, 4, 5]

In [129]:
# insert is used to insert data at specific positions in the list

In [130]:
l1.insert(2,99)

In [131]:
l1

[3, 4, 99, 5]

In [132]:
l1.insert(2,[2,5,8,9])

In [133]:
l1

[3, 4, [2, 5, 8, 9], 99, 5]

In [134]:
l1

[3, 4, [2, 5, 8, 9], 99, 5]

In [137]:
l1.insert(1,"Murari")

In [140]:
l1

[3, 'Murari', 4, [2, 5, 8, 9], 99, 22, 5]

In [144]:
l1.insert(-1,0)

In [145]:
l1

[3, 'Murari', 4, [2, 5, 8, 9], 99, 22, 0, 0, 0, 5]

In [148]:
l1.pop() # remove last element

0

In [149]:
l1

[3, 'Murari', 4, [2, 5, 8, 9], 99, 22, 0, 0]

In [150]:
l1.pop(1)

'Murari'

In [152]:
l1 # murari removed from the list

[3, 4, [2, 5, 8, 9], 99, 22, 0, 0]

In [155]:
l1.remove(0) # remove zero

In [156]:
l1.remove(0) # remove zero elements

In [157]:
l1

[3, 4, [2, 5, 8, 9], 99, 22]

In [158]:
l1.remove(231)

ValueError: list.remove(x): x not in list

In [159]:
# remove element inside list of list

In [163]:
l1[2].remove(2) # removed the 2 second index on ````````a

In [164]:
l1

[3, 4, [5, 8, 9], 99, 22]

In [167]:
l1.insert(1,"sudh")

In [168]:
l1

[3, 'sudh', 'sudh', 4, [5, 8, 9], 99, 22]

In [171]:
l1.remove("sudh")

In [172]:
l1

[3, 4, [5, 8, 9], 99, 22]

In [183]:
l1[::-1] # temparary reverse

[3, 4, [5, 8, 9], 99, 22]

In [185]:
rev = l1.reverse()  #permanent

In [187]:
l1

[3, 4, [5, 8, 9], 99, 22]

In [188]:
l1.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [189]:
l2 = [1,3,4,6,2,4,8,8,542,222,4,45,61,2]

In [190]:
l2.sort() #arange the nuber alphabetic order

In [191]:
l2

[1, 2, 2, 3, 4, 4, 4, 6, 8, 8, 45, 61, 222, 542]

In [192]:
l3 = [34,"sudha",939.3]

In [193]:
l3.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [194]:
l4 = ["sudha","kumari","mururi","jha"]

In [195]:
l4.sort()

In [196]:
l4

['jha', 'kumari', 'mururi', 'sudha']

In [198]:
l4.sort(reverse = True)

In [199]:
l4

['sudha', 'mururi', 'kumari', 'jha']

In [203]:
l2.sort(reverse = True)

In [204]:
l2

[542, 222, 61, 45, 8, 8, 6, 4, 4, 4, 3, 2, 2, 1]

In [206]:
l4.index("sudha")

0

In [207]:
l4.count("sudha")

1

In [208]:
s = "sudha"

In [209]:
l5 = [3,5,355,5]

In [210]:
s[0]

's'

In [211]:
s[0]="A"

TypeError: 'str' object does not support item assignment

In [212]:
l5[0]= 30

In [213]:
l5

[30, 5, 355, 5]

In [214]:
s.replace("a","A")

'sudhA'

In [215]:
s

'sudha'