In [113]:
#31 jan   lecture

In [114]:
l= [1,34,54,"sudha", True, False,23.34,7+5j]

In [115]:
l

[1, 34, 54, 'sudha', True, False, 23.34, (7+5j)]

In [116]:
print(type(l))

<class 'list'>

In [117]:
l[0]

1

In [118]:
l[0:4]

[1, 34, 54, 'sudha']

In [119]:
# l[90]   IndexError: list index out of range

In [120]:
l[0:90]

[1, 34, 54, 'sudha', True, False, 23.34, (7+5j)]

In [121]:
l[-1]

(7+5j)

In [122]:
l[3:1:1]

[]

In [123]:
l[::-1]

[(7+5j), 23.34, False, True, 'sudha', 54, 34, 1]

In [124]:
l[8::-1]

[(7+5j), 23.34, False, True, 'sudha', 54, 34, 1]

In [125]:
s = "pwsskills"

In [126]:
# l+s give error

In [127]:
list(s)

['p', 'w', 's', 's', 'k', 'i', 'l', 'l', 's']

In [128]:
list(s)+l

['p',
 'w',
 's',
 's',
 'k',
 'i',
 'l',
 'l',
 's',
 1,
 34,
 54,
 'sudha',
 True,
 False,
 23.34,
 (7+5j)]

In [129]:
# append fuctions

In [130]:
l[3]

'sudha'

In [131]:
l[3][0:2]

'su'

In [132]:
l[4]

True

In [133]:
# l[4][0:2]  
# TypeError: 'bool' object is not subscriptable

In [134]:
str(l[4])[0:2]

'Tr'

In [135]:
l

[1, 34, 54, 'sudha', True, False, 23.34, (7+5j)]

In [136]:
# l+s
# TypeError: can only concatenate list (not "str") to list

In [137]:
l1 = [3,4,5]

In [138]:
l+l1

[1, 34, 54, 'sudha', True, False, 23.34, (7+5j), 3, 4, 5]

In [139]:
l1*3

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [140]:
len(l)

8

In [141]:
l.append(5)

In [142]:
l

[1, 34, 54, 'sudha', True, False, 23.34, (7+5j), 5]

In [143]:
l.append(s)

In [144]:
l

[1, 34, 54, 'sudha', True, False, 23.34, (7+5j), 5, 'pwsskills']

In [145]:
l.append(l1)

In [146]:
l

[1, 34, 54, 'sudha', True, False, 23.34, (7+5j), 5, 'pwsskills', [3, 4, 5]]

In [147]:
l[-1]

[3, 4, 5]

In [148]:
l[-1][1]

4

In [149]:
# l.extend(4)
# TypeError: 'int' object is not iterable

In [150]:
l.extend("sudha")

In [151]:
l

[1,
 34,
 54,
 'sudha',
 True,
 False,
 23.34,
 (7+5j),
 5,
 'pwsskills',
 [3, 4, 5],
 's',
 'u',
 'd',
 'h',
 'a']

In [152]:
# extend is used to add list on the existing list

In [153]:
l.extend([3,4,45,6])

In [154]:
l

[1,
 34,
 54,
 'sudha',
 True,
 False,
 23.34,
 (7+5j),
 5,
 'pwsskills',
 [3, 4, 5],
 's',
 'u',
 'd',
 'h',
 'a',
 3,
 4,
 45,
 6]

In [156]:
l1

[3, 4, 5]

In [ ]:
# insert is used to insert data at specific positions in the list

In [157]:
l1.insert(2,99)

In [158]:
l1

[3, 4, 99, 5]

In [159]:
l1.insert(2,[2,5,8,9])

In [160]:
l1

[3, 4, [2, 5, 8, 9], 99, 5]