Q1 ~ write a program accept percentage from the user and display grade according to it

In [7]:
marks = int(input("enter your marks percentage : "))
if marks >90:
            print("A Grade")
elif marks <= 90 and marks >80:
            print("B Grade")
elif marks <= 80 and marks >60:
            print("C Grade")
else:
            print("D Grade")

enter your marks percentage :  76

C Grade

Q2 write a program to accept the cost price of the bike and display road tax paid according to it critiera

In [11]:
cost_of_Bike = int(input("enter cost bike: "))
if cost_of_Bike > 100000:
    print("15% tax")
elif cost_of_Bike >50000 or cost_of_Bike>=100000:
    print("10% tax")
elif cost_of_Bike  >=5000:
    print("5% tax")

enter cost bike:  70000

10% tax

Q3 ~ accept any city from the user and display monument related to the city

In [12]:
city = input("Enter name of city:  ")
if city == "Delhi":
    print("Red Fort")
elif city == "Agra":
    print("Taj Mahal")
elif city == "Jaipur":
    print("Jal Mahal")

Enter name of city:   Delhi

Red Fort

Q4~ CHECK how many number are divisible by 3 less than and equal to 10

In [15]:

for i in range(11):
    if i%3==0:
        print(i)

0
3
6
9

Q5~Reverse a while loop and display number from 10 to 1

In [18]:
i = 10 
while i >=1 :
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

Q6~ use nested loop to print 3 differnt pattern on while loop

In [1]:

n = int(input("Number"))
i = 0
while i<=n:
    j = 1 
    while j <= n-i:
        print(j,end="")
        j = j+1
    print()
    i = i+1

Number 5

12345
1234
123
12
1

In [2]:
n = int(input('number of rows : '))

i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

number of rows :  6

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [4]:
n=int(input("Enter  no rows : "))
 
i=1;j=0

while(i<=n):
    while(j<=i-1):
        print("* ",end="")
        j+=1
    print("\r")
    j=0;i+=1

Enter  no rows :  6

*
* *
* * *
* * * *
* * * * *
* * * * * *

Q7~what is while loop and how to use it ?

Python while Loop
Python while loop is used to run a block code until a certain condition is met.

The syntax of while loop is:

while condition:
    # body of while loop
Here,

A while loop evaluates the condition
If the condition evaluates to True, the code inside the while loop is executed.
condition is evaluated again.
This process continues until the condition is False.
When condition evaluates to False, the loop stops.