In [1]:
 # mongoDB assigment

Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MongoDB is an open-source document-oriented database that is designed to store a large scale of data and also allows you to work with that data very efficiently. It is categorized under the NoSQL (Not only SQL) database because the storage and retrieval of data in the MongoDB are not in the form of tables. 

Non-relational databases are often used when large quantities of complex and diverse data need to be organized. For example, a large store might have a database in which each customer has their own document containing all of their information, from name and address to order history and credit card information. Despite their differing formats, each of these pieces of information can be stored in the same document.
Non-relational databases often perform faster because a query doesn’t have to view several tables in order to deliver an answer, as relational datasets often do. Non-relational databases are therefore ideal for storing data that may be changed frequently or for applications that handle many different kinds of data. They can support rapidly developing applications requiring a dynamic database able to change quickly and to accommodate large amounts of complex, unstructured data.

In MongoDB data is represented as a collection of JSON documents while in MySQL, data is in tables and rows.
When it comes to querying, we have to put a string in the query language that the DB system parses. The query language is called Structured Query Language. On the other hand, MongoDB’s querying is object-oriented, which means you pass MongoDB a document explaining what you are querying and there is no parsing.
One big benefit of SQL is the Join statement which allows querying across several tables. MongoDB, on the other hand, does not support JOINS but instead supports multi-dimensional data types like documents and arrays.
In SQL we can have one document inside another. In MongoDB, we have one array of comments and one collection of posts within a post.
SQL supports atomic transactions. You can have several operations within a transaction and you can roll back as if you have a single operation. There is no support for transactions in MongoDB and the single operation is atomic.
In MongoDB, we need not define the schema. We can just drop in the documents. In the case of SQL, we need to define the tables and columns before storage.
There are no reporting tools with MongoDB i.e. performance testing and analysis is not always possible. In SQL we get several reporting tools.

Q2. State and Explain the features of MongoDB.

The benefits of a non-relational database
Today’s applications collect and store increasingly vast quantities of ever more complex customer and user data. The benefits of this data to businesses, of course, lie in their potential for analysis. Using a non-relational database can unlock patterns and value even within masses of variegated data.

There are several advantages to using non-relational databases, including:

Massive dataset organization

In the age of Big Data, non-relational databases can not only store massive quantities of information, but they can also query these datasets with ease. Scale and speed are crucial advantages of non-relational databases.

Flexible database expansion

Data is not static. As more information is collected, a non-relational database can absorb these new data points, enriching the existing database with new levels of granular value even if they don’t fit the data types of previously existing information.
Multiple data structures

The data now collected from users takes on myriad forms, from numbers and strings, to photo and video content, to message histories. A database needs the ability to store these various information formats, understand relationships between them, and perform detailed queries. No matter what format your information is in, non-relational databases can collate different information types together in the same document.

Built for the cloud

A non-relational database can be massive. And as they can, in some cases, grow exponentially, they need a hosting environment that can grow and expand with them. The cloud’s inherent scalability makes it an ideal home for non-relational databases.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [3]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.rcmzp3d.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [5]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.4.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (648 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 648.9/648.9 kB 17.7 MB/s eta 0:00:0000:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 35.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.4.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
db

Database(MongoClient(host=['ac-pofa3vk-shard-00-00.rcmzp3d.mongodb.net:27017', 'ac-pofa3vk-shard-00-01.rcmzp3d.mongodb.net:27017', 'ac-pofa3vk-shard-00-02.rcmzp3d.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-pdw2hp-shard-0', tls=True), 'test')

In [5]:
db = client['pwskill']

In [6]:
data1 = { "name" : "MURARI",
         "COURSE" : "DATA SCIENCE MASTER",
         "BATCH ": "1.0"
}

In [7]:
COLLECTION = db["my_record"]

In [8]:
COLLECTION.insert_one(data1)

In [9]:
for i in COLLECTION.find():
    print(i)

{'_id': ObjectId('64a3b673a51a7d0eb0201570'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3b7dda51a7d0eb0201571'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3b7dda51a7d0eb0201572'), 'name': 'AMAN', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '2.0'}
{'_id': ObjectId('64a3b7dda51a7d0eb0201573'), 'name': 'SAHIL', 'COURSE': 'WEB DEVELOPMENT', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3b7dda51a7d0eb0201574'), 'name': 'GAJEND', 'COURSE': 'JAVA SYSTEM DESIGN', 'BATCH ': '3.0'}
{'_id': 1, 'name': 'Keyboard', 'price': 29.99, 'category': 'Electronics'}
{'_id': 2, 'name': 'Shirt', 'price': 19.99, 'category': 'Clothing'}
{'_id': 3, 'name': 'Headphones', 'price': 49.99, 'category': 'Electronics'}
{'_id': ObjectId('64a3c38bceb667212de85690'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [10]:
DATA2 = [ { "name" : "MURARI",
         "COURSE" : "DATA SCIENCE MASTER",
         "BATCH ": "1.0"
} , { "name" : "AMAN",
         "COURSE" : "DATA SCIENCE MASTER",
         "BATCH ": "2.0"
} ,{ "name" : "SAHIL",
         "COURSE" : "WEB DEVELOPMENT",
         "BATCH ": "1.0"
}, { "name" : "GAJEND",
         "COURSE" : "JAVA SYSTEM DESIGN",
         "BATCH ": "3.0"
}
        ]

In [11]:
COLLECTION.insert_many(DATA2)

In [12]:
COLLECTION.find_one()

{'_id': ObjectId('64a3b673a51a7d0eb0201570'),
 'name': 'MURARI',
 'COURSE': 'DATA SCIENCE MASTER',
 'BATCH ': '1.0'}

In [13]:
for i in COLLECTION.find():
    print(i)

{'_id': ObjectId('64a3b673a51a7d0eb0201570'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3b7dda51a7d0eb0201571'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3b7dda51a7d0eb0201572'), 'name': 'AMAN', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '2.0'}
{'_id': ObjectId('64a3b7dda51a7d0eb0201573'), 'name': 'SAHIL', 'COURSE': 'WEB DEVELOPMENT', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3b7dda51a7d0eb0201574'), 'name': 'GAJEND', 'COURSE': 'JAVA SYSTEM DESIGN', 'BATCH ': '3.0'}
{'_id': 1, 'name': 'Keyboard', 'price': 29.99, 'category': 'Electronics'}
{'_id': 2, 'name': 'Shirt', 'price': 19.99, 'category': 'Clothing'}
{'_id': 3, 'name': 'Headphones', 'price': 49.99, 'category': 'Electronics'}
{'_id': ObjectId('64a3c38bceb667212de85690'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3c38dceb667212de85691'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3c38dceb667212de85692'), 'name': 'AMAN', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '2.0'}
{'_id': ObjectId('64a3c38dceb667212de85693'), 'name': 'SAHIL', 'COURSE': 'WEB DEVELOPMENT', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3c38dceb667212de85694'), 'name': 'GAJEND', 'COURSE': 'JAVA SYSTEM DESIGN', 'BATCH ': '3.0'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [14]:
for i in COLLECTION.find({'name':'MURARI'}) :
    print(i)

{'_id': ObjectId('64a3b673a51a7d0eb0201570'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3b7dda51a7d0eb0201571'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3c38bceb667212de85690'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3c38dceb667212de85691'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [17]:
for i in COLLECTION.find():
    print(i)

{'_id': ObjectId('64a3b673a51a7d0eb0201570'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3b7dda51a7d0eb0201571'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3b7dda51a7d0eb0201572'), 'name': 'AMAN', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '2.0'}
{'_id': ObjectId('64a3b7dda51a7d0eb0201573'), 'name': 'SAHIL', 'COURSE': 'WEB DEVELOPMENT', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3b7dda51a7d0eb0201574'), 'name': 'GAJEND', 'COURSE': 'JAVA SYSTEM DESIGN', 'BATCH ': '3.0'}
{'_id': 1, 'name': 'Keyboard', 'price': 29.99, 'category': 'Electronics'}
{'_id': 2, 'name': 'Shirt', 'price': 19.99, 'category': 'Clothing'}
{'_id': 3, 'name': 'Headphones', 'price': 49.99, 'category': 'Electronics'}
{'_id': ObjectId('64a3c38bceb667212de85690'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3c38dceb667212de85691'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3c38dceb667212de85692'), 'name': 'AMAN', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '2.0'}
{'_id': ObjectId('64a3c38dceb667212de85693'), 'name': 'SAHIL', 'COURSE': 'WEB DEVELOPMENT', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3c38dceb667212de85694'), 'name': 'GAJEND', 'COURSE': 'JAVA SYSTEM DESIGN', 'BATCH ': '3.0'}

In [36]:
for i in COLLECTION.find().sort("category", -1):
    print(i)

{'_id': 1, 'name': 'Keyboard', 'price': 29.99, 'category': 'Electronics'}
{'_id': 3, 'name': 'Headphones', 'price': 49.99, 'category': 'Electronics'}
{'_id': 2, 'name': 'Shirt', 'price': 19.99, 'category': 'Clothing'}
{'_id': ObjectId('64a3b673a51a7d0eb0201570'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3b7dda51a7d0eb0201571'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3b7dda51a7d0eb0201572'), 'name': 'AMAN', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '2.0'}
{'_id': ObjectId('64a3b7dda51a7d0eb0201573'), 'name': 'SAHIL', 'COURSE': 'WEB DEVELOPMENT', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3b7dda51a7d0eb0201574'), 'name': 'GAJEND', 'COURSE': 'JAVA SYSTEM DESIGN', 'BATCH ': '3.0'}
{'_id': ObjectId('64a3c38bceb667212de85690'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3c38dceb667212de85691'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3c38dceb667212de85692'), 'name': 'AMAN', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '2.0'}
{'_id': ObjectId('64a3c38dceb667212de85693'), 'name': 'SAHIL', 'COURSE': 'WEB DEVELOPMENT', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3c38dceb667212de85694'), 'name': 'GAJEND', 'COURSE': 'JAVA SYSTEM DESIGN', 'BATCH ': '3.0'}

In [38]:
for i in COLLECTION.find().sort("_id", 1):
    print(i)

{'_id': 1, 'name': 'Keyboard', 'price': 29.99, 'category': 'Electronics'}
{'_id': 2, 'name': 'Shirt', 'price': 19.99, 'category': 'Clothing'}
{'_id': 3, 'name': 'Headphones', 'price': 49.99, 'category': 'Electronics'}
{'_id': ObjectId('64a3b673a51a7d0eb0201570'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3b7dda51a7d0eb0201571'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3b7dda51a7d0eb0201572'), 'name': 'AMAN', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '2.0'}
{'_id': ObjectId('64a3b7dda51a7d0eb0201573'), 'name': 'SAHIL', 'COURSE': 'WEB DEVELOPMENT', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3b7dda51a7d0eb0201574'), 'name': 'GAJEND', 'COURSE': 'JAVA SYSTEM DESIGN', 'BATCH ': '3.0'}
{'_id': ObjectId('64a3c38bceb667212de85690'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3c38dceb667212de85691'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3c38dceb667212de85692'), 'name': 'AMAN', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '2.0'}
{'_id': ObjectId('64a3c38dceb667212de85693'), 'name': 'SAHIL', 'COURSE': 'WEB DEVELOPMENT', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3c38dceb667212de85694'), 'name': 'GAJEND', 'COURSE': 'JAVA SYSTEM DESIGN', 'BATCH ': '3.0'}

In [20]:
for i in COLLECTION.find():
    print(i)

{'_id': ObjectId('64a3b673a51a7d0eb0201570'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3b7dda51a7d0eb0201571'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3b7dda51a7d0eb0201572'), 'name': 'AMAN', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '2.0'}
{'_id': ObjectId('64a3b7dda51a7d0eb0201573'), 'name': 'SAHIL', 'COURSE': 'WEB DEVELOPMENT', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3b7dda51a7d0eb0201574'), 'name': 'GAJEND', 'COURSE': 'JAVA SYSTEM DESIGN', 'BATCH ': '3.0'}
{'_id': 1, 'name': 'Keyboard', 'price': 29.99, 'category': 'Electronics'}
{'_id': 2, 'name': 'Shirt', 'price': 19.99, 'category': 'Clothing'}
{'_id': 3, 'name': 'Headphones', 'price': 49.99, 'category': 'Electronics'}
{'_id': ObjectId('64a3c38bceb667212de85690'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3c38dceb667212de85691'), 'name': 'MURARI', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3c38dceb667212de85692'), 'name': 'AMAN', 'COURSE': 'DATA SCIENCE MASTER', 'BATCH ': '2.0'}
{'_id': ObjectId('64a3c38dceb667212de85693'), 'name': 'SAHIL', 'COURSE': 'WEB DEVELOPMENT', 'BATCH ': '1.0'}
{'_id': ObjectId('64a3c38dceb667212de85694'), 'name': 'GAJEND', 'COURSE': 'JAVA SYSTEM DESIGN', 'BATCH ': '3.0'}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

Delete_many() is used when one needs to delete more than one document. A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().
In MongoDB, a single document can be deleted by the method delete_one(). The first parameter of the method would be a query object which defines the document to be deleted. If there are multiple documents matching the filter query, only the first appeared document would be deleted. 
drop

dropcommand removes an entire collection from a database.